$PRIMARY_COLOR: #ECD96D;
$SECONDARY_COLOR: #864C9D;
$TERTIARY_COLOR: #5464A0;

$PRIMARY_DARKEN_1_COLOR : #C8B442;
$PRIMARY_DARKEN_2_COLOR : #A69223;
$PRIMARY_LIGHTEN_1_COLOR : #FFF09C;
$PRIMARY_LIGHTEN_2_COLOR : #FFF6C4;

$SECONDARY_DARKEN_1_COLOR: #6D3085;
$SECONDARY_DARKEN_2_COLOR: #571B6E;
$SECONDARY_LIGHTEN_1_COLOR: #A675BA;
$SECONDARY_LIGHTEN_2_COLOR: #CDAADA;

$TERTIARY_DARKEN_1_COLOR: #374A88;
$TERTIARY_DARKEN_2_COLOR: #223470;
$TERTIARY_LIGHTEN_1_COLOR: #7C8BBD;
$TERTIARY_LIGHTEN_2_COLOR: #AFBADC;

/* ----- */
$BASE_COVER_BACKGROUND_COLOR: $PRIMARY_COLOR;
$BASE_BACKGROUND_COLOR: #fffdf9;
$BASE_FONT_COLOR: #423e2a;
