$BASE_FONT_SIZE: 18px; // 1.0 rem

$tiny-font-size: 0.75rem;
$x-small-font-size: 0.8rem;
$small-font-size: 0.9rem;
$normal-font-size: 1.0rem;
$large-font-size: 1.1rem;
$x-large-font-size: 1.3rem;
$huge-font-size: 1.5rem;


